
<img class="menu" src='img/menu.svg'></a>




<div class="searchArea">
    <select ng-model="first" class="serchCrit">
        <option value="colors">Colors</option>
        <option value="names">Names</option>
        <option value="actionV">Action Verbs</option>
        <option value="living">Living</option>
        <option value="c">Single Caricter</option>
    </select>
    <select ng-model="second" class="serchCrit">
        <option value="colors">Colors</option>
        <option value="names">Names</option>
        <option value="actionV">Action Verbs</option>
        <option value="living">Living</option>
        <option value="c">Single Caricter</option>
    </select>

    <button class="add">+</button>
    <select ng-model="domainExt" class="domainPrefix" value=".com">
        <option value=".com">.com</option>
        <option value=".net">.net</option>
        <option value=".edu">.edu</option>
        <option value=".co">.co</option>
        <option value=".me">.me</option>
        <option value=".biz">.biz</option>
    </select>
    <button class="search">Search</button>
    <br>






    <div class="someText" style="display: none;">
        <div id="log"></div>
    </div>

    <div class="someText" style="display: none;">

        <table class="tg">
            <tr>
                <td class="tg-031e">RedMonkey.com</td>
                <td class="tg-031e">Available</td>
                <td class="tg-031e">
                    <button class="buy">Buy</button>
                </td>
            </tr>
            <tr>
                <td class="tg-031e">PinkPanda.com</td>
                <td class="tg-031e">Available</td>
                <td class="tg-031e">
                    <button class="buy">Buy</button>
                </td>
            </tr>
            <tr>
                <td class="tg-031e">BlueBananna.com</td>
                <td class="tg-031e">Available</td>
                <td class="tg-031e">
                    <button class="buy">Buy</button>
                </td>
            </tr>
        </table>
        <div class="register">There are 632 more URLs.
            <br>
            <button class="reg">Register</button> now to search them all.
        </div>
        </div>

</div>